/* Adrian Martís Blanco UO289369 */
/* Estilos generales del proyecto MotoGP-Desktop */

/* Selector: body → especificidad 0-0-1 */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000;
    background-color: #FFFFFF;
}

header {
    background-color: #0000EE;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

p a {
    color: #0000EE;
    text-decoration: none;
}

/*especificidad 001, 001 */
h1 a {
    color: #FFFFFF;
}

a.active {
    font-weight: bold;
    color: #AFFDCC;
}

/*especificidad 001, 001 */
nav,
a {
    text-decoration: none;
    color: #FFFFFF;
}