/* Adrian Martís Blanco UO289369 */
/* Estilos generales del proyecto MotoGP-Desktop */

/* Selector: body → especificidad 0-0-1 */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000;
    background-color: #FFFFFF;
}

header {
    background-color: #0D1B2A;
}

header a {
    color: #F9FAFB;
    text-decoration-line: none;
}

header+p {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

p a {
    color: #0000EE;
    text-decoration: none;
}

/*especificidad 001, 001 */
h1 a {
    color: #FFFFFF;
}

a.active {
    font-weight: bold;
    color: #FFD60A;
}

/*especificidad 001, 001 */
nav,
a {
    text-decoration: none;
    color: #FFFFFF;
}

li a {
    color: #0000EE;
}