main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
    justify-items: center;
    align-items: center;
}

h2 {
    grid-column: 1 / -1;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 799px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(6, 1fr);
        gap: 1em;
        padding: 1em;
        justify-items: center;
        align-items: center;
    }
}