main {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 0.6em;
    row-gap: 2em;
    justify-content: center;
    align-items: center;
}

h2 {
    grid-column: 1 / -1;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
}

main>p {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #0b0c0d;
    margin: 0.5em 0 0;
}

@media (min-width: 320px) and (max-width: 799px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(6, 1fr);
    }
}